In [1]:
import pandas as pd

In [4]:
weather=pd.read_csv('1. Weather Data.csv')

In [5]:
weather.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [6]:
weather.shape

(8784, 8)

In [7]:
weather.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [8]:
weather.columns=['Date_Time','Temp','Dew_Point','Humidity','Wind_Speed','Visibility','Pressure','Weather']

In [9]:
weather

,Date_Time,Temp,Dew_Point,Humidity,Wind_Speed,Visibility,Pressure,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

### Q. 1)  Find all the unique 'Wind Speed' values in the data.

In [16]:
Unique_Values=list(weather['Wind_Speed'].unique())
Unique_Values

[4,
 7,
 6,
 9,
 15,
 13,
 20,
 22,
 19,
 24,
 30,
 35,
 39,
 32,
 33,
 26,
 44,
 43,
 48,
 37,
 28,
 17,
 11,
 0,
 83,
 70,
 57,
 46,
 41,
 52,
 50,
 63,
 54,
 2]

 ### Find the number of times when the 'Weather is exactly Clear.

In [24]:
weather['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Moderate Snow                                 4
Rain,Haze                                     3
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Thunderstorms                                 2
Freezing Rain,Haze                            2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Ice Pellets,Fog                 1
Rain,Ice Pellets                              1
Snow Pellets                                  1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Thunderstorms,Rain,Fog                        1
Thunderstorms,Heavy Rain Showers              1
Drizzle,Ice Pellets,Fog                       1
Rain,Snow Grains                              1
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

### Q. 3) Find the number of times when the 'Wind Speed was exactly 4 km/h'.

In [31]:
df=weather[weather['Wind_Speed']==4]
df['Wind_Speed'].value_counts()

4    474
Name: Wind_Speed, dtype: int64

### Q. 4) Find out all the Null Values in the data.

In [32]:
weather.isnull().sum()

Date_Time     0
Temp          0
Dew_Point     0
Humidity      0
Wind_Speed    0
Visibility    0
Pressure      0
Weather       0
dtype: int64

### Q. 5) Rename the column name 'Weather' of the dataframe to 'Weather Condition'.

In [46]:
weather=weather.rename(columns={'Weather':'Weather_Condition'})

### Q. 6) What is the mean 'Visibility' ?

In [42]:
weather.Visibility.mean()

27.66444672131151

### Q. 7) What is the Standard Deviation of 'Pressure'  in this data?

In [43]:
weather.Pressure.std()

0.8440047459486474

### Q. 8) Find all instances when 'Snow' was recorded.

In [48]:
weather[weather['Weather_Condition']=='Snow']

,Date_Time,Temp,Dew_Point,Humidity,Wind_Speed,Visibility,Pressure,Weather_Condition
55,1/3/2012 7:00,-14.0,-19.5,63,19,25.0,100.95,Snow
84,1/4/2012 12:00,-13.7,-21.7,51,11,24.1,101.25,Snow
86,1/4/2012 14:00,-11.3,-19.0,53,7,19.3,100.97,Snow
87,1/4/2012 15:00,-10.2,-16.3,61,11,9.7,100.89,Snow
88,1/4/2012 16:00,-9.4,-15.5,61,13,19.3,100.79,Snow
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

### Q. 10) Find all instances when 'Wind Speed is above 24' and 'Visibility is 25'.

In [51]:
weather[(weather['Wind_Speed']>24) & (weather['Visibility']==25)]

,Date_Time,Temp,Dew_Point,Humidity,Wind_Speed,Visibility,Pressure,Weather_Condition
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

### Q. 11) What is the Mean value of each column against each 'Weather Condition ?

In [57]:
weather.groupby(['Weather_Condition']).mean().head()

,Temp,Dew_Point,Humidity,Wind_Speed,Visibility,Pressure
Weather_Condition,,,,,,
Clear,6.825716,0.089367,64.497738,10.557315,30.153243,101.587443
Cloudy,7.970544,2.375810,69.592593,16.127315,26.625752,100.911441
Drizzle,7.353659,5.504878,88.243902,16.097561,17.931707,100.435366
"Drizzle,Fog",8.067500,7.033750,93.275000,11.862500,5.257500,100.786625
"Drizzle,Ice Pellets,Fog",0.400000,-0.700000,92.000000,20.000000,4.000000,100.790000

### Q. 12) What is the Minimum & Maximum value of each column against each 'Weather Condition?

In [56]:
weather.groupby(['Weather_Condition']).agg(['min','max']).head()

                               Date_Time                   Temp        \
                                     min              max   min   max
Weather_Condition
Clear                     1/11/2012 1:00    9/9/2012 5:00 -23.3  32.8
Cloudy                    1/1/2012 17:00   9/9/2012 23:00 -21.4  30.5
Drizzle                  1/23/2012 21:00   9/30/2012 3:00   1.1  18.8
Drizzle,Fog              1/23/2012 20:00   9/30/2012 2:00   0.0  19.9
Drizzle,Ice Pellets,Fog  12/17/2012 9:00  12/17/2012 9:00   0.4   0.4

                        Dew_Point       Humidity      Wind_Speed      \
                              min   max      min  max        min max
Weather_Condition
Clear                       -28.5  20.4       20   99          0  33
Cloudy                      -26.8  22.6       18   99          0  54
Drizzle                      -0.2  17.7       74   96          0  30
Drizzle,Fog                  -1.6  19.1       85  100          0  28
Drizzle,Ice Pellets,Fog      -0.7  -0.7       92   92         20  20

                        Visibility       Pressure
                               min   max      min     max
Weather_Condition
Clear                         11.3  48.3    99.52  103.63
Cloudy                        11.3  48.3    98.39  103.65
Drizzle                        6.4  25.0    97.84  101.56
Drizzle,Fog                    1.0   9.7    98.65  102.07
Drizzle,Ice Pellets,Fog        4.0   4.0   100.79  100.79

### Q. 15) Find all instances when :
### A. 'Weather is Clear' and 'Relative Humidity is greater than 50'
### or
 ### B. 'Visibility is above 40'

In [60]:
weather[(weather['Weather_Condition']=='Clear') & (weather['Humidity']>50) | (weather['Visibility']>40)]

,Date_Time,Temp,Dew_Point,Humidity,Wind_Speed,Visibility,Pressure,Weather_Condition
106,1/5/2012 10:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,1/5/2012 11:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,1/5/2012 12:00,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,1/5/2012 13:00,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
110,1/5/2012 14:00,-5.1,-10.7,65,22,48.3,100.46,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear